<script src="jquery.js"></script>
<script>
	$(document).ready(function()
	{
		var refreshId = setInterval(function() 
		{
			$('#timeval').load('script.php');
		}, 1000);
	});
</script>

<div id="timeval">Countdown is loading....</div>

